.Material-black {
  background-color: #121212;
  color: white;
}
.App-logo {
  height: 50px;
  float: right;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.clearFix {
  overflow: auto;
}

.Header {
  height: 70px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

.Content {
  margin-top: 70px;
  margin-bottom: 110px;
}

.Footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
